body {
margin: 0;
padding: 0;
background: url(/img/fon.jpeg);
background-position: center top;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

header {
    flex-wrap: nowrap;
    display: flex;
    background-color: #fef9f5;
    padding: 10px 15px;
}

.uslugi-main {
    display: flex; 
}

.usluga {
    width: 400px;
    height: 250px;
    border: 2px solid #fef9f5;
}

.uslugi-tittle {
    position: relative;
    text-align: right;
    top: -75px;
    margin-right: 30px;
    color: #fef9f5;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.uslugi-action {
    position: relative;
    text-align: right;
    top: -75px;
    /*margin-right: 30px;*/
    color: #fef9f5;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(245, 131, 1, 0.8); 
    padding: 10px; 
}

article h1 {
 color: #ff4252;
 text-align: center;
 margin: 20px 0;
 text-transform: uppercase;
}

article {
    padding: 20px 30px;
}

.usluga img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.a_action {
    display: block;
    width: 400px;
    height: 250px;
    border: 2px solid #fef9f5;
}
.a_action:hover {
     border-color: #ff4252;
     text-decoration: none;
         
}
.a_action img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-cont {
    width: auto;
}
.flex-item {
    background-color: rgba(224, 59, 30, 0.658);
    padding: 15px;
    width: 300px;
    height:250px;
    margin-top: 30px;
    color: white;
    text-align: center;
    border-radius: 0.25rem;
}
.user span {
    color: chocolate;
    font-weight: bold;
}
.logo span {font-weight: bold;}
